<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.admin.mapper.SortMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.admin.entity.Sort">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="fenlei" jdbcType="VARCHAR" property="fenlei" />
      <id column="addr" jdbcType="VARCHAR" property="addr" />
      <id column="creatdate" jdbcType="TIMESTAMP" property="creatdate" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      fenlei, addr, creatdate
  </sql>

    <select id="daoxu" resultMap="BaseResultMap">
        SELECT
        id,
        fenlei,
        addr,
        creatdate
        FROM
        sort
        WHERE
        1=1
        <if test="fenlei != null and fenlei != ''">
             and fenlei like '%${fenlei}%'
        </if>
        <if test="addr != null and addr != ''">
            and addr like '%${addr}%'
        </if>
        <if test="creatdate != null and creatdate != ''">
            and creatdate like '%${creatdate}%'
        </if>
        ORDER BY creatdate DESC
    </select>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sort
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  sort
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.admin.entity.Sort">
    insert into sort (fenlei, addr, creatdate)
    values (
         fenlei = #{fenlei,jdbcType=VARCHAR},
         addr = #{addr,jdbcType=VARCHAR},
         creatdate = #{creatdate,jdbcType=datetime}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.admin.entity.Sort">
    insert into sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fenlei != null">
        fenlei,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="creatdate != null">
        creatdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fenlei != null">
        fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>

      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>

      <if test="creatdate != null">
        creatdate = #{creatdate,jdbcType=datetime},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.admin.entity.Sort">
    update sort
    <set>
       <if test="fenlei != null">
         fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>
       <if test="addr != null">
         addr = #{addr,jdbcType=VARCHAR},
      </if>
       <if test="creatdate != null">
         creatdate = #{creatdate,jdbcType=datetime},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.admin.entity.Sort">
    update sort
    set
        fenlei = #{fenlei,jdbcType=VARCHAR},
        addr = #{addr,jdbcType=VARCHAR},
        creatdate = #{creatdate,jdbcType=datetime},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>