<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.admin.mapper.ZbjMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.admin.entity.Zbj">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="fenlei" jdbcType="VARCHAR" property="fenlei" />
      <id column="name" jdbcType="VARCHAR" property="name" />
      <id column="addr" jdbcType="VARCHAR" property="addr" />
      <id column="link" jdbcType="VARCHAR" property="link" />
      <id column="type" jdbcType="VARCHAR" property="type" />
      <id column="credit" jdbcType="VARCHAR" property="credit" />
      <id column="score" jdbcType="VARCHAR" property="score" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      fenlei, name, addr, link, type, credit, score
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zbj
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  zbj
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.admin.entity.Zbj">
    insert into zbj (fenlei, name, addr, link, type, credit, score)
    values (
         fenlei = #{fenlei,jdbcType=VARCHAR},
         name = #{name,jdbcType=VARCHAR},
         addr = #{addr,jdbcType=VARCHAR},
         link = #{link,jdbcType=VARCHAR},
         type = #{type,jdbcType=VARCHAR},
         credit = #{credit,jdbcType=VARCHAR},
         score = #{score,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.admin.entity.Zbj">
    insert into zbj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fenlei != null">
        fenlei,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fenlei != null">
        fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>

      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>

      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>

      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>

      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>

      <if test="credit != null">
        credit = #{credit,jdbcType=VARCHAR},
      </if>

      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.admin.entity.Zbj">
    update zbj
    <set>
       <if test="fenlei != null">
         fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>
       <if test="name != null">
         name = #{name,jdbcType=VARCHAR},
      </if>
       <if test="addr != null">
         addr = #{addr,jdbcType=VARCHAR},
      </if>
       <if test="link != null">
         link = #{link,jdbcType=VARCHAR},
      </if>
       <if test="type != null">
         type = #{type,jdbcType=VARCHAR},
      </if>
       <if test="credit != null">
         credit = #{credit,jdbcType=VARCHAR},
      </if>
       <if test="score != null">
         score = #{score,jdbcType=VARCHAR},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.admin.entity.Zbj">
    update zbj
    set
        fenlei = #{fenlei,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        addr = #{addr,jdbcType=VARCHAR},
        link = #{link,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        credit = #{credit,jdbcType=VARCHAR},
        score = #{score,jdbcType=VARCHAR},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>