<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<script type="text/javascript" th:src="@{/progressBar/jquery.min.js}" src="progressBar/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/progressBar/css.css}" href="progressBar/css.css" />

<body>
<!--进度条-->
<div class="wrapper" id="wrapper" style="display: none;">
    <div class="load-bar" id="load-bar">
        <div class="load-bar-inner" id="load-bar-inner" data-loading="0"> <span id="counter"></span> </div>
    </div>
    <h1 id="h11">正在导出</h1>
    <p id="p11">请等待... </p>
</div>
<!--进度条-->

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>管理<span
            class="c-gray en">&gt;</span>列表<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/sort}" method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
                           onclick="deleteAll('/admin/sort/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<a href="javascript:;"
                           onclick="layer_show('添加','/admin/sort/addBefore',900,500)"
                           class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
                            <a href="javascript:;"
                               onclick="daochu('/admin/sort/export?id=')"
                               class="layui-btn  layui-btn-normal"><i class="Hui-iconfont">&#xe644;</i> 导出</a>
                            <a href="javascript:;"
                               onclick="zbjGenerate('/admin/tCompany/zbjGenerate?id=')"
                               class="layui-btn  layui-btn-normal"><i class="Hui-iconfont">&#xe644;</i> 生成</a>
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">
                                         <input type="input-text" class="input-text" th:value="${searchInfo.fenlei}" name="fenlei" placeholder="搜索分类" sid="fenlei"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.addr}" name="addr" placeholder="搜索所属地区" sid="addr"/>
                                         <input type="input-text" placeholder="搜索创建时间" name="creatdateSpace" th:value="${creatdateSpace}" class="input-text  timeSpace"/>
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                        class="Hui-iconfont">&#xe665;</i> 搜索
                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                                <th width="40">分类</th>
                                <th width="40">所属地区</th>
                                <th width="40">创建时间</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="sort,count:${pageInfo.list}">
                            <td><input type="checkbox" value="1" th:value="${sort.id}"
                                       name="id"/></td>
                            <td th:text="${count.count}"></td>
                                    <td th:text="${sort.fenlei}"></td>
                                    <td th:text="${sort.addr}"></td>
                                    <td th:text="${#temporals.format(sort.creatdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'sort'+'/editBefore/'+${sort.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                <a title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/admin/'+'sort'+'/delete/'+${sort.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>

    var flag = 0;
    var current = 0;
    var click = 0;

    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

    //导出条件信息
    function daochu(url) {

        click = 1;

        var bar = document.getElementById("wrapper");

        bar.style.display = (bar.style.display.match("block")) ? "none" : "block";
        setInterval(increment,100);


        var _list = new Array();
        $('input[name="id"]:checked').each(
            function (i) {
                _list[i] = $(this).val();
            });
        if(_list.length == 0){
            layer.msg("请选择要导出的信息");
            return false;
        }
        if(_list.length != 1){
            layer.msg("只能导出一条信息");
            return false;
        }
        url = url + _list[0];
       // window.open(url);


        $.ajax({
            //data:{
            //},
            type: 'POST',
            url: url,
            success:function(){
                window.location.href=url;
                flag = 1;
                // setInterval(increment,100);
            },

        });
    }


//生成
    function zbjGenerate(url) {

        click = 1;

        var bar = document.getElementById("wrapper");

        bar.style.display = (bar.style.display.match("block")) ? "none" : "block";
        setInterval(increment,100);


        var _list = new Array();
        $('input[name="id"]:checked').each(
            function (i) {
                _list[i] = $(this).val();
            });
        if(_list.length == 0){
            layer.msg("请选择要导出的信息");
            return false;
        }
        if(_list.length != 1){
            layer.msg("只能导出一条信息");
            return false;
        }
        url = url + _list[0];
        // window.open(url);


        $.ajax({
            //data:{
            //},
            type: 'POST',
            url: url,
            success:function(){
                window.location.href=url;
                flag = 1;
                // setInterval(increment,100);
            },

        });
    }

    <!--进度条-->
    // $(function(){


    var div = document.getElementById("load-bar-inner");

    function increment(){
        if(current < 100 &&  click == 1){
            //setInterval(increment,100);
            $("#h11").text('正在导出');
            $("#p11").text('请等待...');
            $('#counter').html(current + '%');
            //$('#counter').style.marginLeft = current + '%';
            div.style.width = current + '%';
            current++;
        }
        if ( flag == 1){
            $('#counter').html('100%');
            $("#h11").text('导出成功！');
            $("#p11").text('');

            div.style.width = '100%';



            flag = 2;
            //current = 100;

        }

        if( flag == 2){
            $("#wrapper").fadeOut(1800);
            current = 0;
            // div.style.width = '0%';
            // $('#counter').html('0%');
            // $("#h11").text('正在导出');
            // $("#p11").text('请等待...');
            flag = 0;
            click = 0;
        }
    }




    //});
    <!--进度条-->
</script>
</body>
</html>