<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>管理<span
            class="c-gray en">&gt;</span>列表<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/tCompany}" method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
                           onclick="deleteAll('/admin/tCompany/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<a href="javascript:;"
                           onclick="layer_show('添加','/admin/tCompany/addBefore',900,500)"
                           class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">
                            <input type="input-text" class="input-text" style="width: 13%;margin-left: 2%;   float: left; " th:value="${searchInfo.companyName}" name="companyName" placeholder="搜索公司名称" sid="companyName"/>
                            <select class="input-text"  placeholder="dff" style="width: 13%; margin-left: 2%;margin-top: 5px; float: left; "name="credit" id="credit" sid="credit"/>
                            <option value=""disabled="disabled" selected>搜索信誉度</option>
                            <option value="1">信誉度为0</option>
                            <option value="2">信誉度不为0</option>
                            </select>

                            <select class="input-text" style="width: 13%;margin-left: 2%;margin-top: 5px; float: left; "name="score" id="score" sid="score"/>
                            <option value=""disabled="disabled"selected>搜索评分</option>
                            <option value="1">评分为0</option>
                            <option value="2">评分不为0</option>
                            </select>

                            <select class="input-text" style="width: 13%;margin-left: 2%;margin-top: 5px; float: left; "name="num" id="num" sid="num"/>
                            <option value=""disabled="disabled"selected>成交量排名</option>
                            <option value="1">从低到高</option>
                            <option value="2">从高到低</option>
                            </select>

                            <select class="input-text" style="width: 13%;margin-left: 2%;margin-top: 5px; float: left; "name="companyStates" id="companyStates" sid="companyStates"/>
                            <option value=""disabled="disabled"selected>按公司状态搜索</option>
                            <option value="1">等待处理</option>
                            <option value="2">正在联系</option>
                            <option value="3">联系成功</option>
                            <option value="4">无法联系</option>
                            <option value="5">已废弃</option>
                            </select>

                            <input type="input-text" class="input-text" style="width: 13%;margin-left: 2%; float: left; "th:value="${searchInfo.myMarks}" name="myMarks" placeholder="搜索备注" sid="myMarks"/>
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                        class="Hui-iconfont">&#xe665;</i> 搜索
                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                            <th width="40">公司名称</th>
                            <th width="40">公司地址</th>
                            <th width="40">信誉度</th>
                            <th width="40">评分</th>
                            <th width="40">成交量</th>
                            <th width="40">公司状态</th>
                            <th width="40">创建时间</th>
                            <th width="40">备注</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="tCompany,count:${pageInfo.list}">
                            <div style="color: red">
                            <td><input type="checkbox" value="1" th:value="${tCompany.id} "
                                       name="id"/></td>
                            <td th:text="${count.count}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                            <td th:text="${count.count}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${count.count}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${count.count}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${count.count}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td th:if="${tCompany.companyStates} == 5" >
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editStatusBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" style="color: red" th:text="${tCompany.companyName}" ></a>
                            </td>
                            <td th:if="${tCompany.companyStates} == 4" >
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editStatusBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" style="color: #EA7500" th:text="${tCompany.companyName}" ></a>
                            </td>
                            <td th:if="${tCompany.companyStates} == 3" >
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editStatusBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" style="color: green" th:text="${tCompany.companyName}" ></a>
                            </td>
                            <td  th:if="${tCompany.companyStates} == 2" >
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editStatusBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" style="color: #006633" th:text="${tCompany.companyName}" ></a>
                            </td>
                            <td  th:if="${tCompany.companyStates} == 1" >
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editStatusBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" th:text="${tCompany.companyName}" ></a>
                            </td>


                            <!--<td th:text="${tCompany.companyName}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>-->
                            <!--<td th:text="${tCompany.companyName}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>-->
                            <!--<td th:text="${tCompany.companyName}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>-->
                            <!--<td th:text="${tCompany.companyName}" th:if="${tCompany.companyStates} == 1" ></td>-->

                            <td th:if="${tCompany.companyStates} == 5"><a style="color: red" th:text="${tCompany.companyUrl}" target="_blank"
                                   th:href="@{${tCompany.companyUrl}}"></a></td>
                            <td th:if="${tCompany.companyStates} == 4"><a style="color: #EA7500" th:text="${tCompany.companyUrl}" target="_blank"                                             th:href="@{${tCompany.companyUrl}}"></a></td>
                            <td th:if="${tCompany.companyStates} == 3"><a style="color: green"
                                 th:text="${tCompany.companyUrl}" target="_blank" th:href="@{${tCompany.companyUrl}}"></a></td>
                            <td th:if="${tCompany.companyStates} == 2"><a style="color: #006633"
                                 th:text="${tCompany.companyUrl}" target="_blank" th:href="@{${tCompany.companyUrl}}"></a></td>
                            <td th:if="${tCompany.companyStates} == 1"><a th:text="${tCompany.companyUrl}" target="_blank" th:href="@{${tCompany.companyUrl}}"></a></td>
                            <!--<td><span th:if="${tCompany.companyStates} == 4" style="color: green"><a-->
                                    <!--th:text="${tCompany.companyUrl}" target="_blank"-->
                                   <!--th:href="@{${tCompany.companyUrl}}"></a></span></td>-->

                            <td th:text="${tCompany.credit}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                            <td th:text="${tCompany.credit}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${tCompany.credit}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${tCompany.credit}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${tCompany.credit}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td th:text="${tCompany.score}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                            <td th:text="${tCompany.score}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${tCompany.score}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${tCompany.score}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${tCompany.score}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td th:text="${tCompany.num}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                            <td th:text="${tCompany.num}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${tCompany.num}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${tCompany.num}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${tCompany.num}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td th:if="${tCompany.companyStates} == 1" >等待处理</td>
                            <td th:if="${tCompany.companyStates} == 2" style="color:#006633;">正在联系</td>
                            <td th:if="${tCompany.companyStates} == 3" style="color: green">联系成功</td>
                            <td th:if="${tCompany.companyStates} == 4" style="color: #EA7500">无法联系</td>
                            <td th:if="${tCompany.companyStates} == 5" style="color: red">已废弃</td>

                            <td th:text="${#temporals.format(tCompany.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                           <td th:text="${#temporals.format(tCompany.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${#temporals.format(tCompany.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${#temporals.format(tCompany.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${#temporals.format(tCompany.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td th:text="${tCompany.myMarks}" th:if="${tCompany.companyStates} == 5" style="color: red"></td>
                            <td th:text="${tCompany.myMarks}" th:if="${tCompany.companyStates} == 4" style="color: #EA7500"></td>
                            <td th:text="${tCompany.myMarks}" th:if="${tCompany.companyStates} == 3" style="color: green"></td>
                            <td th:text="${tCompany.myMarks}" th:if="${tCompany.companyStates} == 2" style=" color:#006633"></td>
                            <td th:text="${tCompany.myMarks}" th:if="${tCompany.companyStates} == 1" ></td>

                            <td class="td-manage">
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'tCompany'+'/editBefore/'+${tCompany.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                <a title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/admin/'+'tCompany'+'/delete/'+${tCompany.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                            </div></tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

</script>
</body>
</html>